<?xml version="1.0"?>
<launch>

<arg name="auvID"/>
<arg name="auvNum"/>
    
  <node pkg="uw-communication" type="acoustic_modem.py" name="acoustic_modem" output="screen" args="$(arg auvID)">
    <!-- <rosparam command="load" file="$(find mission_manager)/config/conf_auv_$(arg auvID).yaml" />-->
    <param name="auvID" type="int" value="$(eval arg('auvID'))" />
    <param name="auvNum" type="int" value="$(eval arg('auvNum'))" />
  </node>
    
    
</launch>
